name: Build and Release APK

on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
    - uses: actions/checkout@v3

    - name: set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'

    - name: Setup Gradle
      uses: gradle/gradle-build-action@v2

    - name: Build APK
      run: gradle assembleDebug

    - name: Rename APK
      # Path berubah: bukan app/build/... tapi langsung build/...
      run: mv build/outputs/apk/debug/app-debug.apk build/outputs/apk/debug/RootRunner.apk

    - name: Create Release
      uses: softprops/action-gh-release@v1
      with:
        files: build/outputs/apk/debug/RootRunner.apk
        body_path: README.md
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
