name: Build and Release APK

on:
  push:
    tags:
      - 'v*' # Trigger saat push tag seperti v1.0, v1.1

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write # Izin untuk upload release

    steps:
    - uses: actions/checkout@v3

    - name: set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: gradle

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew

    - name: Build APK
      run: ./gradlew assembleDebug

    - name: Rename APK
      run: mv app/build/outputs/apk/debug/app-debug.apk app/build/outputs/apk/debug/RootRunner.apk

    - name: Create Release
      uses: softprops/action-gh-release@v1
      if: startsWith(github.ref, 'refs/tags/')
      with:
        files: app/build/outputs/apk/debug/RootRunner.apk
        body_path: README.md # Menggunakan README sebagai deskripsi release
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
